[project]
	description = test project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/stefano982
[access "refs/for/refs/*"]
	read = group stefano98x
	push = group stefano98x
	read = group user/stefano982
	push = group user/stefano982
	label-Code-Review = -2..+2 group user/stefano982
	label-Verified = -1..+1 group user/stefano982
	rebase = group user/stefano982
	removeReviewer = group user/stefano982
	submit = group user/stefano982
[access "refs/heads/*"]
	read = group user/stefano982
	create = group user/stefano982
	push = +force group user/stefano982
	pushMerge = group user/stefano982
[access "refs/tags/*"]
	push = group user/stefano982
	push = +force group user/stefano982
